<template>
</template>

<script>
    import {EventBus} from '../helpers/EventBus';

    export default {
        name: 'action-element',
        data() {
            return {
                actionRect: {
                    width: 200,
                    height: 50,
                }
            }
        },
        mounted() {
            //listen for event to add it on canvas
            this.$on('add', this.add);
        },
        methods: {
            add(e) {
                //drawing action element
                this.canvas = e.canvas;
                this.plusElementX = e.plusElementX;
                this.plusElementY = e.plusElementY;
                this.ctx = this.canvas.getContext("2d");
                this.ctx.beginPath();
                //background color of action element
                this.ctx.fillStyle = "#c16288";
                this.ctx.fillRect(this.actionRectX,
                    this.plusElementY,
                    this.actionRect.width,
                    this.actionRect.height);
                this.ctx.rect(this.actionRectX,
                    this.plusElementY,
                    this.actionRect.width,
                    this.actionRect.height);
                //put text in it
                this.ctx.fillStyle = "black";
                this.ctx.font = "42px Georgia";
                this.ctx.fillText('Action', this.actionRectX + 30, this.plusElementY + 40);
                //add line to new plus element
                this.ctx.moveTo(this.lineBeginX, this.lineBeginY);
                this.ctx.lineTo(this.lineEndX, this.lineEndY);
                this.ctx.stroke();
                //emit event to add new plus element
                EventBus.$emit('addPlus', {x: this.lineEndX, y: this.lineEndY});
            }
        },
        computed: {
            //calculating coordinates for elements
            actionRectX: {
                cache: false,
                get: function () {
                    return this.plusElementX - (this.actionRect.width / 2) + 10; //10 - plus element half of width
                }
            },
            lineBeginX: {
                cache: false,
                get: function () {
                    return this.actionRectX + (this.actionRect.width / 2);
                }
            },
            lineBeginY: {
                cache: false,
                get: function () {
                    return this.plusElementY + this.actionRect.height;
                }
            },
            lineEndX: {
                cache: false,
                get: function () {
                    return this.actionRectX + (this.actionRect.width / 2);
                }
            },
            lineEndY: {
                cache: false,
                get: function () {
                    return this.plusElementY + 200;
                }
            }
        }
    }
</script>