<template>
    <div class="canvas-wrapper">
        <canvas id="canvas" width="1600" height="1000"></canvas>
        <PlusElement/>
    </div>
</template>

<script>
    import PlusElement from './PlusElement.vue';

    export default {
        name: 'canvas-controller',
        data() {
            return {}
        },
        components: {
            PlusElement
        }
    }
</script>

<style scoped>

</style>
