<template>
</template>

<script>
    import {EventBus} from '../helpers/EventBus';

    export default {
        name: 'condition-element',
        data() {
            return {
                conditionRect: {
                    width: 200,
                    height: 50,
                }
            }
        },
        mounted() {
            //listen for event to add it on canvas
            this.$on('add', this.add);
        },
        methods: {
            add(e) {
                //drawing condition element
                this.canvas = e.canvas;
                this.plusElementX = e.plusElementX;
                this.plusElementY = e.plusElementY;
                this.ctx = this.canvas.getContext("2d");
                this.ctx.beginPath();
                //background color
                this.ctx.fillStyle = "#82b8ef";
                this.ctx.fillRect(this.conditionRectX,
                    this.plusElementY,
                    this.conditionRect.width,
                    this.conditionRect.height);
                this.ctx.rect(this.conditionRectX,
                    this.plusElementY,
                    this.conditionRect.width,
                    this.conditionRect.height);
                //put text in it
                this.ctx.fillStyle = "black";
                this.ctx.font = "42px Georgia";
                this.ctx.fillText('Condition', this.conditionRectX +10, this.plusElementY + 40);
                //drawing lines for two new plus elements
                this.ctx.moveTo(this.leftLineBeginX, this.leftLineBeginY);
                this.ctx.lineTo(this.leftLineEndX, this.leftLineEndY);
                this.ctx.moveTo(this.rightLineBeginX, this.rightLineBeginY);
                this.ctx.lineTo(this.rightLineEndX, this.rightLineEndY);
                this.ctx.stroke();
                //emit events for add two plus elements
                EventBus.$emit('addPlus', {x: this.leftLineEndX, y: this.leftLineEndY});
                EventBus.$emit('addPlus', {x: this.rightLineEndX, y: this.rightLineEndY});
            }
        },
        computed: {
            //calculating coordinates for elements
            conditionRectX: {
                cache: false,
                get: function () {
                    return this.plusElementX - (this.conditionRect.width / 2) + 10; //10 - plus element half of width
                }
            },
            leftLineBeginX: {
                cache: false,
                get: function () {
                    return this.conditionRectX;
                }
            },
            leftLineBeginY: {
                cache: false,
                get: function () {
                    return this.plusElementY + this.conditionRect.height;
                }
            },
            leftLineEndX: {
                cache: false,
                get: function () {
                    return this.conditionRectX - 200; // 200 - line corner
                }
            },
            leftLineEndY: {
                cache: false,
                get: function () {
                    return this.plusElementY + 200;
                }
            },
            rightLineBeginX: {
                cache: false,
                get: function () {
                    return this.conditionRectX + this.conditionRect.width;
                }
            },
            rightLineBeginY: {
                cache: false,
                get: function () {
                    return this.plusElementY + this.conditionRect.height;
                }
            },
            rightLineEndX: {
                cache: false,
                get: function () {
                    return this.conditionRectX + this.conditionRect.width + 200;
                }
            },
            rightLineEndY: {
                cache: false,
                get: function () {
                    return this.plusElementY + 200;
                }
            },
        }
    }

</script>