<template>
    <div>
        <SelectElement ref="selectElement"/>
    </div>
</template>
<script>
    import SelectElement from './SelectElement.vue';
    import {EventBus} from '../helpers/EventBus';

    export default {
        name: 'plus-element',
        data() {
            return {
                canvas: null,
                rect: {
                    width: 20,
                    height: 20,
                    top: 1,
                    left: 500
                },
                btnRegistry: [],
                modalIsOpen: false
            }
        },
        mounted() {
            this.canvas = document.getElementById('canvas');
            //draw it right away after mount
            this.drawPlusIcon();
            //listen for next drawing
            EventBus.$on('addPlus', this.drawPlusIcon);
            //listen for is modal select element open
            EventBus.$on('isOpen', (e) => this.modalIsOpen = e.isOpen);
        },
        components: {
            SelectElement
        },
        methods: {
            drawPlusIcon(e) {
                //if coordinates was passed
                if (e) {
                    this.x = e.x - (this.rect.width / 2);
                    this.y = e.y;
                } else {
                    //defaults
                    this.x = this.rect.left;
                    this.y = this.rect.top;
                }
                //push btn in array for control it in future
                this.btnRegistry.push({x: this.x, y: this.y});
                this.ctx = this.canvas.getContext("2d");
                this.ctx.beginPath();
                //add plus btn
                this.ctx.fillStyle = "blue";
                this.ctx.fillRect(this.x, this.y, this.rect.width, this.rect.height);
                this.ctx.rect(this.x, this.y, this.rect.width, this.rect.height);
                //add text in it
                this.ctx.fillStyle = "white";
                this.ctx.font = "42px Georgia";
                this.ctx.fillText('+', this.x - 2, this.y + 25);

                this.ctx.stroke();
                //listen for click event
                this.setOnClickListener();
            },
            setOnClickListener() {
                this.canvas.addEventListener('click', this.listener, false);
            },
            listener(e) {
                //coordinates of click event
                let x = e.pageX - this.canvas.offsetLeft,
                    y = e.pageY - this.canvas.offsetTop;
                //compare coordinates of current click with all plus buttons
                this.btnRegistry.forEach((btn, btnId) => {
                    if (y > btn.y &&
                        y < btn.y + this.rect.height &&
                        x > btn.x &&
                        x < btn.x + this.rect.width) {
                        //checking for is modal select element open
                        if (this.modalIsOpen) {
                            alert('Select an element, at first');
                            return;
                        }
                        //remove plus btn
                        this.remove(btn.x, btn.y, btnId);
                        //showing modal for select element
                        this.$refs.selectElement.$emit('show', {canvas: this.canvas, x: btn.x, y: btn.y});
                    }
                });
            },
            remove(x, y, btnId) {
                //remove from canvas
                this.ctx.clearRect(x - 1, y - 1,
                    this.rect.width + 2, this.rect.height + 2);
                //remove from registry of all plus buttons
                this.btnRegistry.splice(btnId, 1);
            }
        }
    }

</script>