<template>
    <div>
        <ConditionElement ref="conditionElement"/>
        <ActionElement ref="actionElement"/>
    </div>
</template>
<script>
    import ConditionElement from './ConditionElement.vue';
    import ActionElement from './ActionElement.vue';
    import {EventBus} from '../helpers/EventBus';

    export default {
        name: 'select-element',
        data() {
            return {
                rect: {
                    width: 500,
                    height: 200,
                    top: 1,
                    left: 250,
                },
                conditionButton: {
                    left: 300,
                },
                actionButton: {
                    left: 600,
                },
                buttonCommon: {
                    width: 100,
                    height: 50,
                    top: 100,
                }
            }
        },
        mounted() {
            //listen for show event
            this.$on('show', this.show);
        },
        components: {
            ActionElement,
            ConditionElement
        },
        computed: {
            //calculating coordinates for elements
            rectX: {
                cache: false,
                get: function () {
                    return this.plusElementX - (this.rect.width / 2);
                }
            },
            buttonTop: {
                cache: false,
                get: function () {
                    return this.buttonCommon.top + this.plusElementY;
                }
            },
            conditionButtonLeft: {
                cache: false,
                get: function () {
                    return this.rectX + 50;
                }
            },
            actionButtonLeft: {
                cache: false,
                get: function () {
                    return this.rectX + 350;
                }
            },
        },
        methods: {
            show(e) {
                //emit event for open select element
                EventBus.$emit('isOpen', {isOpen: true});
                this.canvas = e.canvas;
                //coordinates where was plus element
                this.plusElementX = e.x;
                this.plusElementY = e.y;

                this.ctx = e.canvas.getContext("2d");
                this.ctx.beginPath();
                //drawing outer rect
                this.ctx.rect(this.rectX, this.plusElementY, this.rect.width, this.rect.height);
                //adding text to it
                this.ctx.fillStyle = "black";
                this.ctx.font = "50px Georgia";
                this.ctx.fillText('Select element to add: ', this.rectX + 30, this.plusElementY + 60);
                //drawing condition button
                this.ctx.rect(this.conditionButtonLeft, this.buttonTop,
                    this.buttonCommon.width, this.buttonCommon.height);
                //adding text to it
                this.ctx.fillStyle = "black";
                this.ctx.font = "20px Georgia";
                this.ctx.fillText('Condition', this.conditionButtonLeft + 10, this.buttonTop + 35);
                //drawing action button
                this.ctx.rect(this.actionButtonLeft, this.buttonTop,
                    this.buttonCommon.width, this.buttonCommon.height);
                //adding text to it
                this.ctx.fillStyle = "black";
                this.ctx.font = "20px Georgia";
                this.ctx.fillText('Action', this.actionButtonLeft + 15, this.buttonTop + 35);


                this.ctx.stroke();
                this.setOnClickListeners();
            },
            //add onClick listeners for action and condition button
            setOnClickListeners() {
                //condition button
                this.canvas.addEventListener('click', this.conditionButtonListener, false);

                //action button
                this.canvas.addEventListener('click', this.actionButtonListener, false);
            },
            conditionButtonListener(e) {
                //coordinates of click event
                let x = e.pageX - canvas.offsetLeft,
                    y = e.pageY - canvas.offsetTop;
                //checking is click in condition button by comparing coordinates
                if (y > this.buttonTop &&
                    y < this.buttonTop + this.buttonCommon.height &&
                    x > this.conditionButtonLeft &&
                    x < this.conditionButtonLeft + this.buttonCommon.width) {
                    //remove it
                    this.remove(this.conditionButtonListener);
                    //add condition element on canvas
                    this.$refs.conditionElement.$emit('add', {
                        canvas: this.canvas,
                        plusElementX: this.plusElementX,
                        plusElementY: this.plusElementY
                    });
                }
            },
            actionButtonListener(e) {
                //coordinates of click event
                let x = e.pageX - canvas.offsetLeft,
                    y = e.pageY - canvas.offsetTop;
                //checking is click in action button
                if (y > this.buttonTop &&
                    y < this.buttonTop + this.buttonCommon.height &&
                    x > this.actionButtonLeft &&
                    x < this.actionButtonLeft + this.buttonCommon.width) {
                    //remove it
                    this.remove(this.actionButtonListener);
                    //add action element on canvas
                    this.$refs.actionElement.$emit('add', {
                        canvas: this.canvas,
                        plusElementX: this.plusElementX,
                        plusElementY: this.plusElementY
                    });
                }
            },
            remove(listener) {
                //emit event of closing select element modal
                EventBus.$emit('isOpen', {isOpen: false});
                //remove select element from canvas
                this.ctx.clearRect(this.rectX - 1, this.plusElementY - 1,
                    this.rect.width + 2, this.rect.height + 2);
                //remove event listeners
                this.canvas.removeEventListener('click', listener);
            }
        }
    }
</script>