<template>
    <div id="app">
        <CanvasController/>
    </div>
</template>

<script>
    import CanvasController from './components/CanvasController'

    export default {
        name: 'app',
        components: {
            CanvasController
        }
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
